/* Footer Styles */
footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 4rem;
    border-top: 1px solid #e0e0e0;
    margin-top: 8rem;
    transition: background-color 0.3s;
}

[data-theme="dark"] footer {
    background-color: #242424;
    border-top: 1px solid #333;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 1.25rem;
}

footer a:hover {
    color: var(--secondary-color);
}